body{
    font-family: sans-serif;
    text-align: center;
    padding-left: 200px;
}
h1{
    text-align: center;
    font-size: 55px;
    height: 50px;
}
abbr{
    text-decoration: none !important;
}
td{
    height: 30px;
    width: 60px;
}
